<img src="P9_Logo.PNG" height="400" width="400" >
<h1 style="color:blue; text-align:center; background-color:AliceBlue; font-size:300%; font-family:verdana; border:2px solid DodgerBlue"><br>ANALYSE POUR LE LANCEMENT A L'INTERNATIONAL<br>
<h5 style="color:black; text-align:right">NGUYEN Huynh Thanh Qui<br>Janvier 2022<br></h5>
</h1>

In [1]:
#Importation de bibliothèques
import pandas as pd
import  matplotlib.pyplot as plt
import numpy as np
from sklearn import decomposition
from sklearn import preprocessing, metrics, cluster
from sklearn.cluster import KMeans
import scipy.cluster
from scipy.cluster.hierarchy import linkage, fcluster, dendrogram
from scipy.spatial.distance import cdist 
import seaborn as sns
import colorama
from colorama import Fore, Back, Style
from sklearn.preprocessing import MinMaxScaler
#! pip install plotly
# anaconda
#! conda install -c anaconda plot
import plotly.express as px
from sklearn.manifold import TSNE
import warnings
warnings.filterwarnings("ignore")

In [2]:
print(Fore.YELLOW + Style.BRIGHT + f"Cliquer sur ce boton pour faire apparaître/disparaître le code" + Style.RESET_ALL)

Cliquer sur ce boton pour faire apparaître/disparaître le code

In [3]:
%%HTML
<script>
  function code_toggle() {
    if (code_shown){
      $('div.input').hide('500');
      $('#toggleButton').val('Show Code')
    } else {
      $('div.input').show('500');
      $('#toggleButton').val('Hide Code')
    }
    code_shown = !code_shown
  }

  $( document ).ready(function(){
    code_shown=false;
    $('div.input').hide()
  });
</script>
<form action="javascript:code_toggle()"><input type="submit" id="toggleButton" value="Show Code"></form>

<h1 style="color:black; text-align:center; background-color:GhostWhite; font-size:300%; font-family:Georgia; border:2px solid LightSteelBlue"><br>PARTIE 1<br><br>Préparation de données<br></h1>

<h2 style="color:black; text-align:center; background-color:AliceBlue; font-size:150%; font-family:Georgia; border:2px solid DodgerBlue"><br>I. Importation et lecture de données<br></h2>

In [4]:
# Lecture de données
DispoAli_2017 = pd.read_csv('DisponibiliteAlimentaire_2017.csv')
Popu_2000_2018 = pd.read_csv('Population_2000_2018.csv')

<h3 style="color:blue; text-align:center; font-size:120%; font-family:Georgia; border:2px solid DodgerBlue"><br>Fichier 'Disponibilité Alimentaire 2017'<br></h3>

<h4 style="color:royalblue; text-align:left; font-size:110%; font-family:Georgia"><br><u>Observation de données</u></h4>

<p><ul style="font-family:Time">
      <li>Ce fichier possède des informations de la disponibilité alimentaire de la population totale de chaque pays en 2017</li>
      <li>Chaque ligne correspond à un produit alimentaire et ils sont classés dans les différents éléments</li>
      <li>Dans l'optique de l'extraction de données, je vais garder que les colonnes qui contiennent des informations nécessaires pour nos analyses, donc celles du pays, du produit, de l'élément et de la quantité ('Zone', 'Produit', 'Code Élément', 'Élément', 'Valeur')</li>
</p>

In [5]:
display(DispoAli_2017.head())
DispoAli_2017.info()
DispoAli_2017.Élément.unique()
display(DispoAli_2017.shape)
print(Fore.BLUE + Style.BRIGHT + f"Le fichier 'Disponibilité Alimentaire 2017' contient {len(DispoAli_2017)} lignes" + Style.RESET_ALL)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.0,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.0,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119.0,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5911,Exportations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,6701.0,S,Données standardisées

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176600 entries, 0 to 176599
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Code Domaine            176600 non-null  object
 1   Domaine                 176600 non-null  object
 2   Code zone               176600 non-null  int64
 3   Zone                    176600 non-null  object
 4   Code Élément            176600 non-null  int64
 5   Élément                 176600 non-null  object
 6   Code Produit            176600 non-null  int64
 7   Produit                 176600 non-null  object
 8   Code année              176600 non-null  int64
 9   Année                   176600 non-null  int64
 10  Unité                   176600 non-null  object
 11  Valeur                  176600 non-null  float64
 12  Symbole                 176600 non-null  object
 13  Description du Symbole  176600 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 18.9+ MB

(176600, 14)

Le fichier 'Disponibilité Alimentaire 2017' contient 176600 lignes

<h4 style="color:royalblue; text-align:left; font-size:110%; font-family:Georgia"><br><u>Extraction de données</u></h4>

In [6]:
# Observation de l'unité de chaque élément
#DispoAli_2017[['Code Élément', 'Élément', 'Unité']].value_counts().to_frame().rename(columns = {0:'Count_'}).reset_index()

In [7]:
# Unités des éléments de la disponibilté alimentaire
print(Fore.BLUE + Style.BRIGHT + f"Unité des 5 premiers éléments de la disponiblité alimentaire mondiale 2017" + Style.RESET_ALL)
Unite = DispoAli_2017[['Code Élément', 'Élément', 'Unité']].groupby(by=['Code Élément', 'Élément', 'Unité']).count()
Unite.reset_index(inplace = True)
display(Unite.head())

# Extraction de données
print(Fore.BLUE + Style.BRIGHT + f"Disponiblité alimentaire mondiale 2017" + Style.RESET_ALL)
Extract_DispoAli = DispoAli_2017.loc[:,['Zone','Code Élément','Élément', 'Produit', 'Valeur']]
Extract_DispoAli.rename(columns = {'Valeur': "Quantité"}, inplace = True)
display(Extract_DispoAli.head())

Unité des 5 premiers éléments de la disponiblité alimentaire mondiale 2017

,Code Élément,Élément,Unité
0,645,Disponibilité alimentaire en quantité (kg/pers...,kg
1,664,Disponibilité alimentaire (Kcal/personne/jour),Kcal/personne/jour
2,674,Disponibilité de protéines en quantité (g/pers...,g/personne/jour
3,684,Disponibilité de matière grasse en quantité (g...,g/personne/jour
4,5072,Variation de stock,Milliers de tonnes

Disponiblité alimentaire mondiale 2017

,Zone,Code Élément,Élément,Produit,Quantité
0,Afghanistan,5511,Production,Blé et produits,4281.0
1,Afghanistan,5611,Importations - Quantité,Blé et produits,2302.0
2,Afghanistan,5072,Variation de stock,Blé et produits,-119.0
3,Afghanistan,5911,Exportations - Quantité,Blé et produits,0.0
4,Afghanistan,5301,Disponibilité intérieure,Blé et produits,6701.0

In [8]:
# Top 5 produits qui sont plus/moins apparus

print(Fore.BLUE + Style.BRIGHT + f"Top 5 produits MOINS apparus :  " + Style.RESET_ALL)
display(Extract_DispoAli.groupby(by  = "Produit").count()[['Zone']].rename(columns = {'Zone': "Count_"}).sort_values(by = 'Count_').head())

print(Fore.BLUE + Style.BRIGHT + f"Top 5 produits PLUS apparus :  " + Style.RESET_ALL)
Extract_DispoAli.groupby(by  = "Produit").count()[['Zone']].rename(columns = {'Zone': "Count_"}).sort_values(by = 'Count_').tail()

Top 5 produits MOINS apparus :

                        Count_
Produit
Viande de Anim Aquatiq      27
Sucre non centrifugé       322
Huile de Son de Riz        424
Palmistes                  694
Sucre, betterave           728

Top 5 produits PLUS apparus :

                             Count_
Produit
Lait - Excl Beurre             2395
Riz et produits                2452
Pommes de Terre et produits    2486
Blé et produits                2581
Maïs et produits               2593

<h3 style="color:blue; text-align:center; font-size:120%; font-family:Georgia; border:2px solid DodgerBlue"><br>Fichier 'Population 2000_2018'<br></h3>

<h4 style="color:royalblue; text-align:left; font-size:110%; font-family:Georgia"><br><u>Observation de données</u></h4>

<p>
  <ul style="font-family:Time">
      <li>Ce fichier possède des informations de la population totale de chaque pays, de 2000 à 2018</li>
      <li>Chaque ligne correspond à la population totale (par 1000 personnes) par année d'un pays</li>
      <li>A noté que nos analyses utilisent des informations de la disponibilité alimentaire en 2017, c'est pour cette raison, je vais choisir que les colonnes qui contiennent des informations de la populaiton en 2017</li>
</p>

In [9]:
Popu_2000_2018.info()
display(Popu_2000_2018.shape)
print(Fore.BLUE + Style.BRIGHT + f"Ce fichier {len(Popu_2000_2018)} lignes complètes (non-null), la colonne 'Note'"+ Style.RESET_ALL )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4411 entries, 0 to 4410
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            4411 non-null   object
 1   Domaine                 4411 non-null   object
 2   Code zone               4411 non-null   int64
 3   Zone                    4411 non-null   object
 4   Code Élément            4411 non-null   int64
 5   Élément                 4411 non-null   object
 6   Code Produit            4411 non-null   int64
 7   Produit                 4411 non-null   object
 8   Code année              4411 non-null   int64
 9   Année                   4411 non-null   int64
 10  Unité                   4411 non-null   object
 11  Valeur                  4411 non-null   float64
 12  Symbole                 4411 non-null   object
 13  Description du Symbole  4411 non-null   object
 14  Note                    258 non-null    object
dtypes: float64(1), int64(5), object(9)
memory usage: 517.0+ KB

(4411, 15)

Ce fichier 4411 lignes complètes (non-null), la colonne 'Note'

<h4 style="color:royalblue; text-align:left; font-size:110%; font-family:Georgia"><br><u>Extraction de données</u></h4>

In [10]:
# Extraction des colonnes nécessaires (données de population en 2017)
Extract = Popu_2000_2018.loc[:,['Zone','Année','Valeur']]
Extract_Population_2017 = Extract[Extract['Année'] == 2017]

# Vérification de l'unité de la population
display(Popu_2000_2018['Unité'].unique())

Extract_Population_2017.rename(columns = {"Valeur" : "Population"}, inplace = True)
Extract_Population_2017.drop(columns = "Année", inplace = True)
display(Extract_Population_2017.shape)
Extract_Population_2017.head()

array(['1000 personnes'], dtype=object)

(236, 2)

              Zone  Population
17     Afghanistan   36296.113
36  Afrique du Sud   57009.756
55         Albanie    2884.169
74         Algérie   41389.189
93       Allemagne   82658.409

<h2 style="color:black; text-align:center; background-color:AliceBlue; font-size:150%; font-family:Georgia; border:2px solid DodgerBlue"><br>II. Etude de données<br></h2>

 <ul style="font-family:Time">
      <li>Les analyses réalisées suivantes sont basées sur les données des marchés mondiaux de la viande en 2017, dans le but d'une étude de marché de l'importation/exportation des produits de volailles</li>
      <li>Plus précisément, seule les informations des produits d'origine animale tels que : viande de volailles, viande porcine, viande ovine sont utilisées dans cet étude</li>
      <li>Les champs à analyser sont la production, l'importation et l'exportaion des produits de la viande listés en dessus</li>
    <ul>

<h3 style="color:blue; text-align:center; font-size:120%; font-family:Georgia; border:2px solid DodgerBlue"><br>1. Séparation des données de "Bilans Alimentaires" par type d'éléments <br></h3>
  <ul style="font-family:Time">
      <li>Les données de "Bilans Alimentaires" se divisent par 2 types : la disponibilité alimentaire (en terme énergétique) et la disponibilité intérieure</li>
      <li>La séparation de ces 2 types de données nous permet de faciliter l'analyse d'énergie apportée par les aliments et les besoins de l'exportation/importation de chaque produit pour chaque pays. Dans l'optique de l'étude du marché d'exportation, je concentrerai sur la partie de la disponibilité intérieure. C'est pour cette raison, j'exclure des données de la disponibilité alimentaire énergétique</li>
      <li>En effet, j'utilise que les colonnes contenant les quantités d'importation, d'exportation, de production pour faire les analyses (une partie de la ligne bleue)</li>
      <img src="P9_Dispo_int.PNG" height="600" width="600" >
    <ul>
</p>

In [11]:
# Sélection des données à analyser (importation, exportation, production)
print(Fore.BLUE + Style.BRIGHT + f"Données d'importation, d'exportation et de production (de tous les produits)"+ Style.RESET_ALL )
Donnée_utilisées = [5611, 5911, 5511]
Element_Dispo_Int = Extract_DispoAli[Extract_DispoAli['Code Élément'].isin(Donnée_utilisées)]
display(Element_Dispo_Int.head())
display(Element_Dispo_Int.shape)

# Sélection des produits de la viande
liste_viandes = {'Viande de Bovins','Viande de Suides','Viande de Volailles'
                 ,'Viande, Autre','Abats Comestible', "Viande d'Ovins/Caprins"}
Produits_Viandes = Element_Dispo_Int[Element_Dispo_Int["Produit"].isin(liste_viandes)]
print(Fore.BLUE + Style.BRIGHT + f"Données de l'importation, de l'exportation et de la production de produits de la viande de {len(Produits_Viandes.Zone.unique())} pays"+ Style.RESET_ALL )
display(Produits_Viandes.head())
display(Produits_Viandes.shape)

Données d'importation, d'exportation et de production (de tous les produits)

,Zone,Code Élément,Élément,Produit,Quantité
0,Afghanistan,5511,Production,Blé et produits,4281.0
1,Afghanistan,5611,Importations - Quantité,Blé et produits,2302.0
3,Afghanistan,5911,Exportations - Quantité,Blé et produits,0.0
14,Afghanistan,5511,Production,Riz et produits,338.0
15,Afghanistan,5611,Importations - Quantité,Riz et produits,415.0

(37707, 5)

Données de l'importation, de l'exportation et de la production de produits de la viande de 170 pays

,Zone,Code Élément,Élément,Produit,Quantité
622,Afghanistan,5511,Production,Viande de Bovins,94.0
623,Afghanistan,5611,Importations - Quantité,Viande de Bovins,6.0
633,Afghanistan,5511,Production,Viande d'Ovins/Caprins,160.0
634,Afghanistan,5611,Importations - Quantité,Viande d'Ovins/Caprins,0.0
642,Afghanistan,5611,Importations - Quantité,Viande de Suides,0.0

(2686, 5)

<h3 style="color:blue; text-align:center; font-size:120%; font-family:Georgia; border:2px solid DodgerBlue"><br>2. Taux de dépendance des importations (TDI)<br></h3>

  <ul style="font-family:Time">
      <li>Selon FAO, le taux de dépendance des importations (TDI) est un indice qui permet d'analyser <b>la situation d'alimentaire d'un pays</b>, <i>"il importe de bien savoir quelle part les approvisionnements intérieurs disponibles provient des importations et quelle part provient de la production du pays lui-même"</i> </li>
          (Source : https://www.fao.org/3/x9892f/x9892f09.htm#TopOfPage)
      <li>Il se définit par : </li>
      <img src="P9_TDI.PNG" height="400" width="400" >
      <li>En effet, plus la valeur de TDI est grande, plus l'importation de ce produit est importante ou il existe une haute concurrence sur le marché </li>
      <li><b>Le complément de ce pourcentage</b> représente <b>la part de l'approvisionnement national</b> produite dans le pays. Cependant, <b>ces pourcentages n'ont de sens que si les importations servent principalement à la consommation intérieure et ne sont pas réexportées</b></li>
      <li>C'est pour cette raison, j'utilise cet indice comme une variable clé pour analyser le besoin d'importation des produits animales des pays, plus il est élevé, plus le produit est importé, dans la limite de 100%. Les produits ayant une valeur de TDI <b>supérieure à 100%<b> sont considérés pour le but de <b>réexportation<b></li>

In [12]:
# Préparation de donnée
Viandes = Produits_Viandes.loc[:,['Produit','Zone','Élément','Quantité']] #sélectionner les colonnes
Viandes = Viandes.pivot_table(Viandes, index=['Zone','Produit'], columns=['Élément'], aggfunc=np.sum) #pivoter df
Viandes.fillna(0, inplace = True) #remplacer les valeurs nulles par 0
Viandes.columns = Viandes.columns.droplevel() #supprimmer level)
Viandes.reset_index(inplace = True)

# Calculer TDI
Viandes['Production_restante'] = (Viandes['Production'] + Viandes['Importations - Quantité'] - Viandes['Exportations - Quantité'])
Viandes['TDI (%)'] = Viandes['Importations - Quantité'] * 100/Viandes['Production_restante']

# Vérifier la nature des résultats 0 du calcul de 'Production_restante'
print(Fore.BLUE + Style.BRIGHT + f"Résultat de la sélection des quantités not-null de l'importation à patir des données nulles de la colonne 'Production_restante'"+ Style.RESET_ALL)
Test_import_null = Viandes[Viandes['TDI (%)'].isna()] #extraction des valeurs NaN de TDI
display(Test_import_null[Test_import_null['Importations - Quantité'] !=0]) #vérification les valeurs d'importation qui ne sont pas égales à 0 
print(Fore.YELLOW + Style.BRIGHT + f"Les valeurs de 'Production_restante' qui sont égales à 0 signifient une égalité de la production et l'exportation du produit \
(car toutes ces valeurs d'importation sont égales à 0). Donc, pour éviter les valeurs infinies de TDI, je les remplace par 0 car ces produits ne sont pas importés"+ Style.RESET_ALL)

# Remplacer les valeur infinies de TDI par 0
Viandes['TDI (%)'].replace([np.nan], 0, inplace = True)
Viandes_TDI = Viandes.drop(columns = ['Production_restante'])

print(Fore.BLUE + Style.BRIGHT + f"Données complètes de la production et commercialisation de la viande et de TDI"+ Style.RESET_ALL)
Viandes_TDI.rename(columns = {"Exportations - Quantité" : "Exportation"
                  ,"Importations - Quantité" : "Importation"}
                  , inplace = True)

display(Viandes_TDI.head())
display(Viandes_TDI.shape)

Résultat de la sélection des quantités not-null de l'importation à patir des données nulles de la colonne 'Production_restante'

Empty DataFrame
Columns: [Zone, Produit, Exportations - Quantité, Importations - Quantité, Production, Production_restante, TDI (%)]
Index: []

Les valeurs de 'Production_restante' qui sont égales à 0 signifient une égalité de la production et l'exportation du produit (car toutes ces valeurs d'importation sont égales à 0). Donc, pour éviter les valeurs infinies de TDI, je les remplace par 0 car ces produits ne sont pas importés
Données complètes de la production et commercialisation de la viande et de TDI

Élément,Zone,Produit,Exportation,Importation,Production,TDI (%)
0,Afghanistan,Abats Comestible,0.0,6.0,48.0,11.111111
1,Afghanistan,Viande d'Ovins/Caprins,0.0,0.0,160.0,0.000000
2,Afghanistan,Viande de Bovins,0.0,6.0,94.0,6.000000
3,Afghanistan,Viande de Suides,0.0,0.0,0.0,0.000000
4,Afghanistan,Viande de Volailles,0.0,29.0,28.0,50.877193

(1019, 6)

<h3 style="color:blue; text-align:center; font-size:120%; font-family:Georgia; border:2px solid DodgerBlue"><br>3. Jointure des données de la population et des marchés mondiaux de la viande <br></h3>

In [13]:
# Sélectionner des colonnes nécessaires
EDI = Viandes_TDI.loc[:,['Produit', 'Zone','Importation' ,'Exportation','Production','TDI (%)']]

# Pivoter le df
EDI_pivot = EDI.pivot_table(EDI, index=['Zone'], columns=['Produit',], aggfunc=np.sum)

# Filtrer les données nulls
EDI_pivot.fillna(0, inplace=True)
#display(EDI_pivot.head())
#display(EDI_pivot.shape)

Extract_dispo_popu = EDI_pivot.merge(Extract_Population_2017, on = 'Zone')
Extract_dispo_popu.set_index(['Zone'], inplace=True)
display(Extract_dispo_popu.head())
display(Extract_dispo_popu.shape)

,"(Exportation, Abats Comestible)","(Exportation, Viande d'Ovins/Caprins)","(Exportation, Viande de Bovins)","(Exportation, Viande de Suides)","(Exportation, Viande de Volailles)","(Exportation, Viande, Autre)","(Importation, Abats Comestible)","(Importation, Viande d'Ovins/Caprins)","(Importation, Viande de Bovins)","(Importation, Viande de Suides)",...,"(Production, Viande de Suides)","(Production, Viande de Volailles)","(Production, Viande, Autre)","(TDI (%), Abats Comestible)","(TDI (%), Viande d'Ovins/Caprins)","(TDI (%), Viande de Bovins)","(TDI (%), Viande de Suides)","(TDI (%), Viande de Volailles)","(TDI (%), Viande, Autre)",Population
Zone,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,6.0,0.0,...,0.0,28.0,12.0,11.111111,0.000000,6.000000,0.000000,50.877193,0.000000,36296.113
Afrique du Sud,13.0,1.0,46.0,29.0,63.0,9.0,100.0,7.0,20.0,29.0,...,235.0,1667.0,43.0,28.571429,4.046243,2.016129,12.340426,24.268178,2.857143,57009.756
Albanie,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,3.0,9.0,...,12.0,13.0,0.0,17.647059,0.000000,7.142857,42.857143,74.509804,100.000000,2884.169
Algérie,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,48.0,0.0,...,0.0,275.0,15.0,1.724138,0.687285,24.120603,0.000000,0.722022,0.000000,41389.189
Allemagne,730.0,7.0,386.0,2563.0,646.0,25.0,154.0,43.0,491.0,1191.0,...,5506.0,1514.0,110.0,-141.284404,63.235294,39.533011,28.809869,49.239766,55.026455,82658.409

(170, 25)

In [14]:
#Liste des variables à analyser
#Extract_dispo_popu.columns.to_frame().reset_index(drop = True).rename(columns = {0:'Variable'})

In [30]:
# Extraction de donnée en fichier cvs

Viandes_TDI.to_csv('Viandes_TDI.csv',index=False, encoding='utf-8')
Extract_Population_2017.to_csv('Extract_Population_2017.csv',index=False, encoding='utf-8')
Extract_dispo_popu.to_csv('Extract_dispo_popu.csv', encoding='utf-8')